@model DAL.Models.Product

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Operating_System_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Operating_System_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chip_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chip_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GPU_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GPU_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity_Sell)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity_Sell)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity_Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity_Product)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Camera_Front)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camera_Front)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Camera_Behind)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camera_Behind)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Operating_system_version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Operating_system_version)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Refresh_rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Refresh_rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Screen_resolution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Screen_resolution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
